@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark-mode {
  background-color: black;
  color: white;
}
html {
  font-family: var(--font-roboto-slab), serif;
}

body {
  @apply bg-gray-200;
}
